rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {

      //database rules for non-ADMINS
      //allow read, create, update: if request.auth != null;
      allow read, create: if request.auth != null;

      //andy9c@gmail.com
      //allow read, write: if request.auth != null && request.auth.uid == 'bGU2yQjxPJYaCVgB2C4hWKsnrjk2';

      //ashi.franklin@gmail.com
      //allow read, write: if request.auth != null && request.auth.uid == 'T8q3EkDSnoWuOE28Qwhe82oR3vA3';

    }
  }
}
//
//allow read, write: if request.auth != null;
//
//write is exactly equivalent to the combination of create, update, and delete.
//If you allow write, you are implicitly allowing all three more specific permissions.
//If you allow only create and update, it does not allow documents to be deleted.